@model IEnumerable<Credit_Dharma.Models.Cliente>
@using Credit_Dharma.Helper;
@{
    ViewData["Title"] = "Clientes";
}

<h1>@ViewData["Title"]</h1>


<p>
    @if (Session.Admin)
    {
        <a class="btn btn-primary btn-sm" asp-action="Refresh">Refrescar Lista Clientes</a>
    }
    <a class="btn btn-dark btn-sm" asp-action="ExportToCsv">Exportar a CSV</a>
</p>


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <table class="datatable table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Identification)
                                </th>
                                @{
                                    if (Session.Admin)
                                    {


                                        <th>
                                            @Html.DisplayNameFor(model => model.Assigned)
                                        </th>
                                    }
                                    else
                                    {
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nickname)
                                        </th>
                                    }
                                }

                                <th>
                                    Saldo
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PendingPayments)
                                </th>
                                <th>
                                    Saldo Pendiente
                                </th>
                                <th>
                                    Morosidad (%)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Identification)
                                </td>
                                @{
                                    if (Session.Admin)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Assigned)
                                        </td>
                                    }
                                    else
                                    {

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nickname)
                                        </td>
                                    }
                                }
                                <td>
                                    @(item.TotalAmount - item.Amount)
                                </td>
                                <td>
                                  @(item.PendingPayments + item.Payments)
                                </td>
                                <td>
                                    @(item.PendingPayments * item.MonthlyPay)
                                </td>
                                <td>
                                    @{
                                        if (item.PendingPayments > 3)
                                        {
                                            @CustomFuctions.GetMorosidad(Model.ToList(), item)
                                        }

                                    }
                                </td>
                                @{
                                    if (Session.Admin)
                                    {
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Identification">Ver</a> <br />
                                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Identification">Asignar</a> <br />
                                                @{
                                                    if (item.Email == null)
                                                    {
                                                        <a class="btn btn-success btn-sm disabled" asp-action="NotifyClientEmail" asp-route-id="@item.Identification">Notificar</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-sm" asp-action="NotifyClientEmail" asp-route-id="@item.Identification">Notificar</a>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Identification">Ver</a><br />
                                                @{
                                                    if (item.Email == null)
                                                    {
                                                        <a class="btn btn-success btn-sm disabled" asp-action="NotifyClientEmail" asp-route-id="@item.Identification">Notificar</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-sm" asp-action="NotifyClientEmail" asp-route-id="@item.Identification">Notificar</a>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    }
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@{

    @if (ViewBag.message != null)
    {
        <script>

            alert("@ViewBag.message");
        </script>
        ViewBag.message = null;
    }
}