@model UserManager.Models.Usuario
@using Credit_Dharma.Helper;
@{
    ViewData["Title"] = "Informacion Usuario";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <!-- Customers Card -->
    <div class="btn-group" role="group" aria-label="Detalles usuario">
        <a class="btn btn-primary" asp-action="Index">Atras</a>
        @{
            if (Session.Admin)
            {

                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.UserId">Editar</a>

            }

        }
    </div>
    <br />
    <br />
    <div class="col-xxl-4 col-xl-12">

        <div class="card info-card customers-card">
            <div class="card-body">
                <h5 class="card-title">Informacion personal</h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <div class="ps-3">
                            <span>
                                <b>  @Html.DisplayNameFor(model => model.Name):</b> <span>@Html.DisplayFor(model => model.Name)</span>
                            </span>
                            <br />
                            <span>
                                <b>  @Html.DisplayNameFor(model => model.Lastname):</b> <span>@Html.DisplayFor(model => model.Lastname)</span>
                            </span>
                            <br />
                            <span>
                                <b>  @Html.DisplayNameFor(model => model.Username):</b> <span>@Html.DisplayFor(model => model.Username)</span>
                            </span>
                            <br />
                            <span>
                                <b>  @Html.DisplayNameFor(model => model.Role):</b> <span>@Html.DisplayFor(model => model.Role)</span>
                            </span>
                            <br />
                            <span>
                                <b>  @Html.DisplayNameFor(model => model.Email):</b> <span>@Html.DisplayFor(model => model.Email)</span>
                            </span>
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                @{
                    if (Session.Admin)
                    {
                        <div>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.UserId">Editar</a>
                        </div>
                    }

                }
            </div>

        </div>


    </div><!-- End Customers Card -->

    <div class="btn-group" role="group" aria-label="Detalles usuario">
        <a class="btn btn-primary" asp-action="Index">Atras</a>
        @{
            if (Session.Admin)
            {

                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.UserId">Editar</a>

            }

        }
    </div>



</div>
  
